{% extends "main/base.html" %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}


{% block content %}
<h1 class="mt-5 pt-5"><strong>Про нас</strong></h1>
<h2 class="mt-5 pt-5"> Про наш магазин он тайок хароший просто вау  </h2>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Pyrax 2024</p>
    </div>
</footer>
{% endblock footer %}